table {
  border: 1px;
}

.calculated {
  border: 1px solid;
}

table.subgrid th {
  border: 1px solid;
  text-align: center;
}

table.subgrid > tbody > tr > td {
  border: 1px solid;
  text-align: center;
}
